{% extends 'base.html' %}

{% block title %}
    Основная информация
{% endblock %}

{% block content %}
    <div class="container mt-5 pt-5">
        <div class="columns">
            {% include 'includes/profile_menu.html' %}
            <div class="column is-6 ml-3 box">
                    <div class="block">
                        <p class="title is-6 is-pulled-left">
                            О себе
                        </p>
                        <p class="is-pulled-right">
                            <a href="{% url 'account:settings' %}"><i class="fas fa-cog"></i></a>
                        </p>
                    </div>
                    <div class="navbar-divider" data-content="OR"></div>
                    {{ user.information.html|safe }}
            </div>
            <div class="column is-3 ml-3">
                <div class="columns is-multiline">
                    <div class="column is-12 box">
                        <p>Друзья</p>
                        <div class="navbar-divider"></div>
                        <div class="block">
                             {% for friend in user.friends.all %}
                                 <a href="{{ friend.get_author_url }}">{{ friend.name }}</a>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="column is-12 box">
                        <p>Подписчики</p>
                        <div class="navbar-divider"></div>
                        <div class="block">
                            {% for subscriber in user.get_subscribers %}
                                <a href="{{ subscriber.from_user.get_author_url }}">{{ subscriber.from_user.name }}</a>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="column is-12 box">
                        <p>Подписки</p>
                        <div class="navbar-divider"></div>
                        <div class="block">
                            {% for following in user.get_followings %}
                                <a href="{{ following.to_user.get_author_url }}">{{ following.to_user.name }}</a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
