{% extends 'base.html' %}

{% block title %}
    Зарегестрироваться
{% endblock title %}

{% block content %}
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-5 box mt-6">
                <h1 class="has-text-centered is-4 has-text-info title">Зарегестрироваться</h1>
                <div class="block">
                    {% for message in messages %}
                        <ul>
                            <li class="error">{{ message }}</li>
                        </ul>
                    {% endfor %}
                    {% for error in errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
                <form action="" method="post">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="field">
                            <label class="label" for="{{ field.id_for_label }}">{{ field.label }}</label>
                            <div class="control">
                                {{ field }}
                            </div>
                        </div>
                    {% endfor %}
                    <p class="control">
                        <input type="submit" value="Зарегестрироваться"
                               class="button is-success is-outlined is-fullwidth">
                    </p>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}