{% extends 'profile_base.html' %}

{% block title %}
    Добавить книгу
{% endblock title %}

{% block content %}
    <section class="section">
    <h1 class="title is-4 has-text-info">Написать новую книгу</h1>
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="file has-name">
            <label class="file-label">
                {{ form.cover }}
            </label>
        </div>
        <div class="field">
            <label class="label" for="{{ form.title.id_for_label }}">{{ form.title.label }}</label>
            <div class="control">
                {{ form.title }}
            </div>
        </div>
        <div class="field">
            <label class="label" for="{{ form.type.id_for_label }}">{{ form.type.label }}</label>
            <div class="control">
                <div class="select">
                    {{ form.type }}
                </div>
            </div>
        </div>
        <div class="field">
            <label class="label" for="{{ form.genre.id_for_label }}">{{ form.genre.label }}</label>
            <div class="control">
                <div class="select">
                    {{ form.genre }}
                </div>
            </div>
        </div>
        <div class="field">
            <label class="label" for="{{ form.cycle.id_for_label }}">{{ form.cycle.label }}</label>
            <div class="control">
                <div class="select">
                    {{ form.cycle }}
                </div>
            </div>
        </div>
        <div class="field">
            <label class="label" for="{{ form.description.id_for_label }}">{{ form.description.label }}</label>
            <div class="control">
                {{ form.description }}
            </div>
        </div>
        <div class="field">
            <label class="label" for="{{ form.remark.id_for_label }}">{{ form.remark.label }}</label>
            <div class="control">
                {{ form.remark }}
            </div>
        </div>
        <div class="field">
            <div class="control">
                <label class="checkbox" for="{{ form.is_introductory.id_for_label }}">
                    {{ form.is_introductory }}
                    Ознакомительный фрагмент
                </label>
            </div>
        </div>
        <div class="field">
            <div class="control">
                <label class="checkbox" for="{{ form.is_eighteen_plus.id_for_label }}">
                    {{ form.is_eighteen_plus }}
                    Для взрослых
                </label>
            </div>
        </div>
        <div class="field">
            <label class="label" for="{{ form.can_comment.id_for_label }}">{{ form.can_comment.label }}</label>
            <div class="control">
                <div class="select">
                    {{ form.can_comment }}
                </div>
            </div>
        </div>
        <div class="field">
            <label class="label" for="{{ form.can_read.id_for_label }}">{{ form.can_read.label }}</label>
            <div class="control">
                <div class="select">
                    {{ form.can_read }}
                </div>
            </div>
        </div>
        <div class="field">
            <label class="label" for="{{ form.can_download.id_for_label }}">{{ form.can_download.label }}</label>
            <div class="control">
                <div class="select">
                    {{ form.can_download }}
                </div>
            </div>
        </div>

        <div class="control">
            <button type="submit" class="button is-success is-outlined is-medium">Сохранить</button>
        </div>
    </form>
</section>
{% endblock content %}