{% extends 'profile_base.html' %}

{% block title %}
    Создать новый цикл
{% endblock title %}

{% block content %}
    <section class="section">
        <h1 class="title is-4 has-text-info">Создать новый цикл</h1>
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="field">
                <label class="label" for="{{ form.name.id_for_label }}">{{ form.name.label }}</label>
                <div class="control">
                    {{ form.name }}
                </div>
            </div>
            <div class="field">
                <label class="label"
                       for="{{ form.desciption.id_for_label }}">{{ form.desciption.label }}</label>
                <div class="control">
                    {{ form.desciption }}
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <label class="checkbox" for="{{ form.is_finished.id_for_label }}">
                        {{ form.is_finished }}
                        Цикл закончен
                    </label>
                </div>
            </div>
            <div class="control">
                <button type="submit" class="button is-success is-medium is-outlined">Сохранить</button>
            </div>
        </form>
    </section>
{% endblock content %}