{% extends 'profile_base.html' %}
{% load static %}

{% block title %}
    Мои Циклы
{% endblock title %}

{% block content %}
    <section class="section">
        <div class="columns">
            <div class="column is-4"><h1 class="title is-5">Ваши циклы</h1></div>
            <div class="column is-4 is-offset-4">
                <a href="{% url 'books:new_cycle' %}" class="button is-success">Создать Цикл</a>
            </div>
        </div>
        <div class="columns">
            <div class="column">
                {% for cycle in cycles %}
                    <div class="block" id="cycle_{{ cycle.id }}">
                        <div class="field">
                            <a href="{% url 'books:edit_cycle' cycle.id %}"
                               class="is-size-2 has-text-info">{{ cycle.name }}</a>
                        </div>
                        <div class="field is-grouped mt-5 is-flex is-justify-content-space-between">
                            <p class="control is-pulled-left">
                                <a href="{% url 'books:edit_cycle' cycle.id %}" class="button is-link">
                                    Редактировать
                                </a>
                            </p>
                            <p class="control is-pulled-right">
                                <button type="submit" data-url="{% url 'books:delete_cycle' cycle.id %}"
                                        class="button is-danger delete-cycle-button">
                                    Удалить
                                </button>
                            </p>
                        </div>
                    </div>
                {% empty %}
                    <div class="block mt-5" style="border: 1px solid var(--gray-light-1)">
                        <div class="columns is-centered">
                            <div class="column is-8">
                                <div class="block p-5 has-text-centered">
                                    <h4 class="title is-4 p-5">Вы пока не создали ни одного цикла</h4>
                                    <a class="button is-link is-outlined is-medium" href="{% url 'books:new_cycle' %}">Добавить</a>
                                </div>

                            </div>
                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>
    </section>

{% endblock content %}
{% block script %}
    <script>
        buttons = document.getElementsByClassName("delete-cycle-button")
        for (let i=0; i< buttons.length; ++i) {
        buttons[i].onclick = () => {
            fetch(buttons[i].dataset.url, {
                headers: {
                    'X-CSRFToken': csrftoken,
                    'X-Requested-With': 'XMLHttpRequest',
                    'Accept': 'application/json',
                },
                method: 'POST',
                mode: 'same-origin'
            }).then(function (response) {
                return response.json()

            }).then(function (data) {

                let cycle = document.getElementById('cycle_'+data.id)
                cycle.parentNode.removeChild(cycle)
            });
        }}
    </script>
{% endblock %}