{% extends 'profile_base.html' %}
{% load static %}

{% block title %}
    Мои Книги
{% endblock title %}

{% block content %}
    <section class="section">
        <div class="columns">
            <div class="column is-4"><h1 class="title is-5">Ваши книги</h1></div>
            <div class="column is-4 is-offset-4">
                <a href="{% url 'books:new_book' %}" class="button is-success">Добавить Книгу</a>
            </div>
        </div>
        <div class="columns">
            <div class="column">
                {% for book in books %}
                    <article class="media">
                        <figure class="media-left">
                            <p class="image is-64x64">
                                <a href="{% url 'books:update_book' book.id %}"><img src="{{ book.cover.url }}" alt=""></a>
                            </p>
                        </figure>
                        <div class="media-content">
                            <div class="content">
                                <a href="{% url 'books:update_book' book.id %}" class="is-size-5 has-text-info">{{ book.title }}</a>
                                <p><b>Размер:</b> {{ book.get_total_len }} зн., {{ book.get_total_author_list_len }} а.л
                                <span class="is-pulled-right"><b>Обновление: </b>{{ book.updated_at.date }}</span>
                                </p>
                            </div>
                            <nav class="level is-mobile">
                                <div class="level-left">
                                    <a class="level-item ml-1">
                                        <span class="icon is-small"><i class="far fa-eye"></i></span>
                                    </a>
                                    <a class="level-item ml-1">
                                        <span class="icon is-small"><i class="fas fa-book-reader"></i></span>
                                    </a>
                                    <a class="level-item ml-1">


                                    </a>
                                    <a class="level-item ml-1">
                                        <span class="icon is-small">
                                            <i class="fas fa-comments"></i> <strong class="ml-1">{{ book.get_comment_count }}</strong>
                                        </span>
                                    </a>
                                    <a class="level-item ml-1">
                                        <span class="icon is-small"><i class="fas fa-pen-nib"></i></span>
                                    </a>
                                </div>
                            </nav>
                            <div class="field is-grouped">
                                <div class="control">
                                    <a href="{% url 'books:update_book' book.id %}" class="button">
                                         <i class="fas fa-cog"></i>
                                    </a>
                                </div>
                                <div class="control">
                                    <a href="{% url 'books:update_book_content' book.id %}" class="button">
                                         <i class="fas fa-pencil-alt"></i>
                                    </a>
                                </div>
                                <div class="control">
                                    <a href="{% url 'books:detail' book.id %}" class="button">
                                         <i class="fas fa-book"></i>
                                    </a>
                                </div>
                                <div class="control">
                                    <a href="{{ book.get_first_chapter }}" class="button">
                                         <i class="fas fa-book-open"></i>
                                    </a>
                                </div>
                                <div class="control">
                                    <a href="{% url 'books:update_book_content' book.id %}" class="button">
                                         <i class="fas fa-link"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </article>
                {% endfor %}
            </div>
        </div>
    </section>

{% endblock content %}