{% extends 'base.html' %}

{% block title %}
    Основная информация
{% endblock %}

{% block content %}
    <div class="container mt-5 pt-5">
        <div class="columns">
            <div class="column is-9 ml-3 box">
                <div class="block">
                    <p class="title is-3 is-pulled-left">
                        Об авторе
                    </p>
                </div>
                <div class="information mt-3">
                    {{ author.information.html|safe }}
                </div>
            </div>
            <div class="column is-3 ml-3">
                <div class="columns is-multiline">
                    <div class="column is-12 box">
                        <a href="">Друзья</a>
                        <div class="navbar-divider"></div>
                        <div class="block">
                             {% for friend in author.friends.all %}
                                 <a href="{{ friend.get_author_url }}">{{ friend.name }}</a>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="column is-12 box">
                        <a href="{% url 'account:subscriber_list' %}">Подписчики</a>
                        <div class="navbar-divider"></div>
                        <div class="block">
                            {% for subscriber in author.get_subscribers %}
                                <a href="{{ subscriber.from_user.get_author_url }}">{{ subscriber.from_user.name }}</a>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="column is-12 box">
                        <a href="">Подписки</a>
                        <div class="navbar-divider"></div>
                        <div class="block">
                            {% for following in author.get_followings %}
                                <a href="{{ following.to_user.get_author_url }}">{{ following.to_user.name }}</a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
