<div class="column is-3 mr-2 sidebar">
    <aside class="menu box" style="height: 500px;">
        <div class="profile_card">
            <a href="">
                <div class="cover"></div>
                <div class="profile_avatar"></div>
                <div class="profile_info">
                    <div class="user_info">{{ author.pseudonym }}</div>
                </div>
            </a>
        </div>
        <ul class="menu-list">
            <li><a href="{% url 'account:settings' %}" class="nav_link">Моя страница</a></li>
            <li><a href="" class="nav_link">Блог</a></li>
            <li><a href="{% url 'authors:authors_cycles' %}" class="nav_link">Циклы произведений</a></li>
            <li><a href="{% url 'authors:author_books' %}" class="nav_link">Произведения</a></li>
        </ul>
    </aside>
</div>
